/* Main */

.home section.contenido_principal {
    display: flex;
    flex-direction: column;
}

.home .imagen{
    margin-bottom: 10px;
}

.home img {
    width: 100vw;
}

.home .texto_contenido{
    width: 100vw;
    background-color: rgb(191, 137, 38);
    text-align: center;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.home .hidro{
    margin-bottom: 10px;
}
.home .vino {
    width: 100vw;
    height: 100%;
}







/*


@media only screen and (max-width: 376px) and (min-width: 359px) {

    html{
        width: 60em;
        height: 180em;
    }

    header{
        width: 36em;
        height: 39em;
    }

    #logo {
        width: 36em;
        height: 14em;
        background-color: blue;
        float: left;
    }

    img#marca{
        width: 36em;
        height: 14em;
    }

    body{
        width: 100vw;
    }

    section#fondo-animado {
        width: 36em;
        height: 62em;
        }

    #imagen1{  
        width: 36em;
        height: 26em;
        background-color: blue;
    }
    #texto_contenido {
        display: none;
    }   
    section#contenido_principal {
        width: 36em;
        height: 77em;
        margin-left: auto;
        margin-right: auto;
    }
    #presentacion {
        width: 259vw;
        height: 20em;
        background-color: rgb(191, 137, 38);
        float: left;
        margin-bottom: 10px;
        text-align: center;
        justify-content: center;
    }

    h1 {
        font-size: 90px;;
        text-align: center;
        justify-content: center;
    }
    #presentacion p {
        width: 257vw;
        height: 0em;
        font-size: 50px;
        text-align: center;
        justify-content: center;
    }

    #imagen2 {
        width: 259vw;
        height: 15em;
        float: left;
        background-color: black;
    }
    video {
        width: 259vw;
        height: 15em;
    }

    #botonera_principal {
        width: 36em;
        height: 26em;
        background-color: #F9C941;
        float: left;
    }

    .menu {
        width: 36em;
        height: 5em;
    }

    .menu li {
        width: 36em;
        height: 5em;
        display: flex;
        text-align: center;

    }

    .menu li a {
        width: 36em;
        height: 5em;
        font-size: 80px;

    }

    #frase_importante {
        width: 36em;
        height: 8em;
        float: left;
    }

    #frase_importante p {
        font-size: 50px;
        text-align: center;
        justify-content: center;
    }

    #imagenaside {
        width: 36em;
        height: 7em;
    }


    footer {
        width: 36em;
        height: 30em;
        background-color: rgb(191, 137, 38);
        margin-left: auto;
        margin-right: auto;
    }

    #mapa {
        float: left;
        width: 36em;
        height: 9em;
    }

    iframe#mapa-google{
        float: left;
        width: 36em;
        height: 9em;
        }

        #datos {
            width: 36em;
            height: 10em;
            background-color: rgb(191, 137, 38);
            float: left;
        }

        #datos p {
            font-size: 50px;

        }

        #redes {
            width: 36em;
            height: 3em;
            background-color: rgb(0, 0, 0);
            float: right;
            display: block;
            text-decoration: none;
        }

        #MielCayendo {
            width: 36em;
            height: 15em;
            background-color: rgb(0, 0, 0);
            float: right;
            display: block;
            text-decoration: none;
            background-image: url(img/miel\ cayendo.gif);
            background-size: cover;
        }

        .RedesSociales a i {
            font-size: 5.5rem;
        }
}
  */