/* Main */

.home section.contenido_principal {
    display: flex;
    flex-direction: column;
}

.home .imagen{
    margin-bottom: 10px;
}

.home img {
    width: 100vw;
}

.home .texto_contenido{
    width: 100vw;
    background-color: rgb(191, 137, 38);
    text-align: center;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.home .hidro{
    margin-bottom: 10px;
}
.home .vino {
    width: 100vw;
    height: 100%;
}
