.quienes-somos h1 {
    text-align: center;
    margin: 10px;
}
.quienes-somos p{
    text-align: center;
}

.quienes-somos .nosotros-contenedor {
    width: 100vw;
}
.quienes-somos .nosotros-contenedor p {
    margin-bottom: 15px;
}

.quienes-somos .nosotros-img {
    width: 100vw;
}


.quienes-somos .texto-img{
    width: 100vw;

}
